h1{
    color: red;
}
.box{
    background-color: black;
    width: 350px;
    height: 540px;
    border-radius: 20px;
    position: relative;
    left: 400px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
#display{
    position: relative;
    top: 15px;
    left: 10px;
    background-color: rgb(77, 68, 68);
    width: 330px;
    height: 80px;
    border-radius: 20px;  
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    font-size: 40px;
}
.keys{
    position: relative;
     top: 45px;
    /* background-color: rgb(77, 68, 68); */
    width: 350px;
    height: 400px;
    border-radius: 20px;  
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
   
}
.row{
    width: 24%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.num{
    width: 85%;
    height: 18%;
    border-radius: 100%;
    color: aliceblue;
    background-color: rgb(28, 27, 27);
    /* border: 1px solid gray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.num1{
    position: relative;
    left: 10px;
    width: 85%;
    height: 18%;
    border-radius: 100%;
    background-color: rgb(218, 128, 11);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}